.modalBox {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  flex-direction: column;
  transform: translate(-50%, -50%);
  padding: 0.5% 0px;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 35%;
}

.modalHeader {
	padding-bottom: 5%;
	margin: 5% 0%;
}


.uploadImagePreview {
  padding: 5%;
  width: 85%;
  height: 85%;
}

.modalButton {
  margin: 5%;
}
