.modalBox {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  box-shadow: 24px;
  flex-direction: column;
  transform: translate(-50%, -50%);
  padding: 0.5% 0px;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.modalHeader {
  padding-bottom: 5%;
  margin-top: 5%;
}

.modalTextField {
  width: 80%;
  margin: 0rem 8rem;
}

.modalRating {
  padding: 2%;
  padding-top: 4%;
}

.modalSubmit {
  margin-bottom: 3%;
}
