.reviewsList {
  width: 100%;
  max-width: 100%;
  background-color: white;

  .reviewsListItem {
    align-items: flex-start;

    .reviewsDelete {
      margin-left: 1rem;
      color: #757575;
    }

    .reviewsDelete:hover {
      cursor: pointer;
      opacity: 0.75;
    }
  }

  .reviewsAvatar {
    background-color: teal;
  }
}

.pagination {
  display: flex;
  justify-content: center;
}