.photosAndReviewsWrapper {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.parkImagesContainer {
  display: flex;
  columns: 3;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
  column-gap: 1rem;
  flex-wrap: wrap;
  max-width: 100%;
  row-gap: 1rem;
}

.addPhotoButton {
  padding: 2rem;
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
}

.lastImg {
  max-width: 15rem;
}

.addReviewButton {
  padding: 2rem;
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
}

.submitAlert {
  animation: fadeIn 4s;
}

@keyframes fadeIn {
  0% {
    opacity: 1;
  }
  50% {
	opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
