.photosAndReviewsWrapper {
    background-color: white;
}

.parkImg {
    max-width: 15rem;
}

.parkImagesContainer {
    display: flex;
    column-gap: 1rem;
    flex-wrap: wrap;
    max-width: 100%;
    row-gap: 1rem;
}

.addPhotoButton {
    padding: 2rem;
    margin-bottom: 2rem;
}