.parkDetailsWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 60rem;
  margin: 0 auto 0 auto;
  box-shadow: 0 5px 4px;
  width: fit-content;
  position: relative;
}

.mainImg {
  max-width: 60%;
  margin: 0 auto 0 auto;
  filter: brightness(0.85);
  border-radius: 1%;
}
.descriptionContainer {
  display: flex;
  justify-content: center;
}

.description {
  align-items: center;
  width: 40%;
  padding-right: 2%;
}

@media only screen and (min-width: 700px) {
  .map {
    width: 40%;
    margin-left: 2rem;
  }
}

@media only screen and (max-width: 600px) {
	.description {
		margin-left: -7%;
	}
  .mainImg {
    max-width: 80%;
  }

  .map {
    margin-left: 5%;
		margin-right: -7%;
  }

  .aboutText {
    font-size: .75rem !important;
  }
  
  .parkTitle {
	font-size: 2rem;
  }
}

.link:hover {
  filter: brightness(0.7);
}
