.formWrapper {
	position: relative;
    padding: 0rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 50rem;
}

.selector {
    width: 100%;
}

.submitButton {
    margin: 1.5rem 0rem;
}

.slider {
    margin-top: 1rem;
}

.formButton{
	width: 100px;
}


