a {
  color: white;
  font-family: Poppins, sans-serif;
  font-weight: 500;
  font-size: 0.875rem;
  margin-right: 3%;
}

a:hover {
  opacity: 0.5;
}

login {
  width: 0px;
}

.googleLogin {
  margin-right: 20px;
}