.searchResultsWrapper {
    // background-color: lightblue;
}

.sortButton {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.noResults {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.noResults img {
    margin-top: 3rem;
    max-width: 30%;
}
