.navBar {
  display: flex;
  min-width: 100%;
  color: #667761;

  .header {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding-right: 3rem;
  }
}



.pageName {
  display: inline;
  font-size: 2rem;
  width: fit-content;
  margin: 1%;
  margin-left: 2%;
}

.pageName:hover {
  opacity: 50%;
  cursor: pointer;
}

.navIcon {
  transform: scale(1.5);
  padding-right: 0.5rem;
}

